<% title_tag 'Invite 邀请' %>
<div class="panel markdown panel-default">
  <div class="panel-body">
    <h1>Invite 邀请您加入</h1>
    <div class="row">
      <div class="col-md-12">
      	<h3>欢迎来到格斗技术爱好者社区</h3>
      	<ul>
				  <li>这里汇聚着格斗技术爱好者</li>
				  <li>这里可以记录下你在格斗道路上的点滴</li>
				  <li>这里你可以通过分享、交流获得乐趣</li>
				  <li>在这里你甚至可以找到你喜欢的老师，教练。</li>
				</ul>
				<p>我们正在内测中，你可以<a href="mailto:info@ftghub.com">发送邮件</a>成为FTGHUB首批用户</p>
      </div>
    </div>
  </div>
</div>